<div class="course-detail-container">

    <h3> {{course != null ? course!.title : ""}} </h3>

    <div class="main-container">

        <div class="leftDiv">
            <div class="card">
                <div class="card-header">
                    {{this.activeLesson !== undefined ? this.activeLesson.title : ""}}
                </div>
                <div class="card-body">
                    <video id="main-video-container" controls width="90%" height="auto">
                        Error, no video loaded
                    </video>
                </div>
            </div>

            <div class="card" id="card-description">
                <div class="card-header">Overview</div>
                <h2>About this chapter</h2>
                <div class="card-body"> Description
                    {{this.activeChapter !== undefined ? this.activeChapter.description : ""}} </div>
                <hr style="margin-left: 15%; margin-right: 15%">
                <div class="card-body"> XP
                    {{this.activeChapter !== undefined ? this.activeChapter.xp : ""}}</div>
                <hr style="margin-left: 15%; margin-right: 15%">
            </div>
        </div>

    </div>

    <div class="rightDiv">

        <ngb-accordion [activeIds]="activeIds">
            <ngb-panel *ngFor="let chapter of chapters; let i = index" id="panel-{{i + 1}}">
                <ng-template ngbPanelTitle>
                        <span class="chapter">Chapter {{i + 1}}: {{chapter.title}}
                            <fa-icon icon="chevron-down" id="chapterIcon" (click)="onChapterClicked($event)"></fa-icon>
                        </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div *ngFor="let lesson of chapter.lessons">
                            <span class="lesson-item" (click)="onLessonClicked(lesson)">
                                <fa-icon icon="play-circle" id="lessonIcon"></fa-icon>
                                {{lesson.title}}
                            </span>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>

    </div>
</div>
