<div class="course-detail-container">

    <h3> {{course != null ? course!.title : ""}}
        <fa-icon icon="trophy"></fa-icon>
    </h3>

    <div class="example-button-row">
        <button mat-stroked-button [routerLink]="['/evaluation', course!.evaluationId, 'view']">Evaluation</button>
        <img class="course-icons" src="{{'../../../content/images/pen-icon.png'}}" alt="No image"/>
    </div>

    <div class="progressBar">
        <div class="progress-bar progress-bar-success" role="progressbar"
             aria-valuemin="0" aria-valuemax="100" style="width:40%">
            {{this.percentCompleted}}% Complete (success)
        </div>
    </div>

    <div class="main-container">

        <div class="leftDiv">
            <div class="card" *ngIf="isUserEnrolledToCourse === true">
                <div class="card-header">
                    <span id="lesson-title">{{this.activeLesson !== undefined ? this.activeLesson.title : ""}}</span>
                    <span id="lesson-xp">{{this.activeChapter !== undefined ? this.activeChapter.xp : ""}}
                        <img class="course-icons"  src="{{'../../../content/images/star-icon.png'}}" alt="No image"/></span>
                </div>
                <div class="card-body">
                    <iframe id="main-video-container" src="https://player.vimeo.com/video/548884645" width=”1080” height=”720” frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>

                    </iframe>

                </div>
            </div>

            <div class="card" id="card-description">
                <div class="card-header">Overview</div>
                <h2>About this course</h2>
                <div class="card-body">
                    Description: {{this.activeChapter !== undefined ? this.activeChapter.description : ""}} </div>
                <hr style="margin-left: 15%; margin-right: 15%">
                <div class="card-body">Difficulty: {{this.course !== null ? this.course.difficulty : ""}}</div>
                <hr style="margin-left: 15%; margin-right: 15%">
                <div class="card-body">Rating: {{this.course !== null ? this.course.rating : ""}}</div>
                <hr style="margin-left: 15%; margin-right: 15%">
                <div class="card-body">Release Date: {{this.course !== null ? this.course.released : ""}}</div>
                <hr style="margin-left: 15%; margin-right: 15%">
                <button *ngIf="isUserEnrolledToCourse !== true" (click)="enrollUserToCourse()"> Enroll to course
                </button>
            </div>
        </div>

        <div class="rightDiv">

            <ngb-accordion [activeIds]="activeIds">
                <ngb-panel *ngFor="let chapter of chapters; let i = index" id="panel-{{i + 1}}">
                    <ng-template ngbPanelTitle>
                        <span class="chapter">Chapter {{i + 1}}: {{chapter.title}}
                            <fa-icon icon="chevron-down" id="chapterIcon" (click)="onChapterClicked($event)"></fa-icon>
                        </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div *ngFor="let lesson of chapter.lessons">
                            <span class="lesson-item" (click)="onLessonClicked(lesson)" [ngbTooltip]="tipContent">
                                <img class="course-icons"  *ngIf="lessonCompletedInfo[lesson.id!] === true"
                                     src="{{'../../../content/images/checked-icon.png'}}" alt="No image">
                                <ng-template #tipContent>
                                    <span>
                                        {{lesson.title === undefined ? "" : (lesson.title)}}
                                    </span>
                                </ng-template>
                                <span>
                                    {{lesson.title === undefined ? "" : sliceLessonTitle(lesson.title)}} </span>
                            </span>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>

        </div>
    </div>
</div>
