<div>
    <h2 id="page-heading">
        <span>User Details Lessons</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-details-lesson" [routerLink]="['/user-details-lesson/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new User Details Lesson
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userDetailsLessons?.length === 0">
        <span>No userDetailsLessons found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userDetailsLessons && userDetailsLessons.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Is Started</span></th>
                    <th scope="col" ><span>Is Completed</span></th>
                    <th scope="col" ><span>Lesson</span></th>
                    <th scope="col" ><span>App User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userDetailsLesson of userDetailsLessons ;trackBy: trackId">
                    <td><a [routerLink]="['/user-details-lesson', userDetailsLesson.id, 'view']">{{ userDetailsLesson.id }}</a></td>
                    <td>{{ userDetailsLesson.isStarted }}</td>
                    <td>{{ userDetailsLesson.isCompleted }}</td>
                    <td>
                        <div *ngIf="userDetailsLesson.lessonId">
                            <a [routerLink]="['/lesson', userDetailsLesson.lessonId , 'view']" >{{ userDetailsLesson.lessonId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="userDetailsLesson.appUserId">
                            <a [routerLink]="['/app-user', userDetailsLesson.appUserId , 'view']" >{{ userDetailsLesson.appUserId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-details-lesson', userDetailsLesson.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-details-lesson', userDetailsLesson.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userDetailsLesson)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
