<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-details-course-heading">Create or edit a User Details Course</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_isStarted">Is Started</label>
                    <input type="checkbox" class="form-control" name="isStarted" id="field_isStarted"
                           formControlName="isStarted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_isCompleted">Is Completed</label>
                    <input type="checkbox" class="form-control" name="isCompleted" id="field_isCompleted"
                           formControlName="isCompleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_evaluationCompleted">Evaluation Completed</label>
                    <input type="checkbox" class="form-control" name="evaluationCompleted" id="field_evaluationCompleted"
                           formControlName="evaluationCompleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_evaluationGrade">Evaluation Grade</label>
                    <input type="number" class="form-control" name="evaluationGrade" id="field_evaluationGrade"
                           formControlName="evaluationGrade"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_course">Course</label>
                    <select class="form-control" id="field_course" name="course" formControlName="courseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courseOption.id" *ngFor="let courseOption of courses; trackBy: trackById">{{ courseOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_appUser">App User</label>
                    <select class="form-control" id="field_appUser" name="appUser" formControlName="appUserId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="appUserOption.id" *ngFor="let appUserOption of appusers; trackBy: trackById">{{ appUserOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
