<div>
    <h2 id="page-heading">
        <span>User Details Courses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-details-course" [routerLink]="['/user-details-course/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new User Details Course
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userDetailsCourses?.length === 0">
        <span>No userDetailsCourses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userDetailsCourses && userDetailsCourses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Is Started</span></th>
                    <th scope="col" ><span>Is Completed</span></th>
                    <th scope="col" ><span>Evaluation Completed</span></th>
                    <th scope="col" ><span>Evaluation Grade</span></th>
                    <th scope="col" ><span>Course</span></th>
                    <th scope="col" ><span>App User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userDetailsCourse of userDetailsCourses ;trackBy: trackId">
                    <td><a [routerLink]="['/user-details-course', userDetailsCourse.id, 'view']">{{ userDetailsCourse.id }}</a></td>
                    <td>{{ userDetailsCourse.isStarted }}</td>
                    <td>{{ userDetailsCourse.isCompleted }}</td>
                    <td>{{ userDetailsCourse.evaluationCompleted }}</td>
                    <td>{{ userDetailsCourse.evaluationGrade }}</td>
                    <td>
                        <div *ngIf="userDetailsCourse.courseId">
                            <a [routerLink]="['/course', userDetailsCourse.courseId , 'view']" >{{ userDetailsCourse.courseId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="userDetailsCourse.appUserId">
                            <a [routerLink]="['/app-user', userDetailsCourse.appUserId , 'view']" >{{ userDetailsCourse.appUserId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-details-course', userDetailsCourse.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-details-course', userDetailsCourse.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userDetailsCourse)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
