<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userDetailsChapter">
            <h2><span>User Details Chapter</span> {{ userDetailsChapter.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Is Started</span></dt>
                <dd>
                    <span>{{ userDetailsChapter.isStarted }}</span>
                </dd>
                <dt><span>Is Completed</span></dt>
                <dd>
                    <span>{{ userDetailsChapter.isCompleted }}</span>
                </dd>
                <dt><span>Chapter</span></dt>
                <dd>
                    <div *ngIf="userDetailsChapter.chapterId">
                        <a [routerLink]="['/chapter', userDetailsChapter.chapterId, 'view']">{{ userDetailsChapter.chapterId }}</a>
                    </div>
                </dd>
                <dt><span>App User</span></dt>
                <dd>
                    <div *ngIf="userDetailsChapter.appUserId">
                        <a [routerLink]="['/app-user', userDetailsChapter.appUserId, 'view']">{{ userDetailsChapter.appUserId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-details-chapter', userDetailsChapter.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
