<div>
    <h2>
        <span id="health-page-heading">Badania zdrowia</span>

        <button class="btn btn-primary float-right" (click)="refresh()">
            <fa-icon icon="sync"></fa-icon> <span>Odświeżać</span>
        </button>
    </h2>

    <div class="table-responsive">
        <table id="healthCheck" class="table table-striped" aria-describedby="health-page-heading">
            <thead>
                <tr>
                    <th scope="col">Nazwa serwisu</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Detale</th>
                </tr>
            </thead>
            <tbody *ngIf="health">
                <tr *ngFor="let componentHealth of health.components | keys">
                    <td>
                        <span class="text-capitalize">{{ componentHealth.key }}</span>
                    </td>
                    <td class="text-center">
                        <span class="badge" [ngClass]="getBadgeClass(componentHealth.value.status)">
                            {{ componentHealth.value.status }}
                        </span>
                    </td>
                    <td class="text-center">
                        <a class="hand" (click)="showHealth(componentHealth)" *ngIf="componentHealth.value.details">
                            <fa-icon icon="eye"></fa-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        Contrariamente a la creencia popular, Lorem Ipsum no es simplemente un texto aleatorio. Tiene sus raíces en una pieza de la literatura latina clásica del 45 a. C., por lo que tiene más de 2000 años. Richard McClintock, profesor de latín en Hampden-Sydney College en Virginia, buscó una de las palabras latinas más oscuras, consectetur, en un pasaje de Lorem Ipsum, y al revisar las citas de la palabra en la literatura clásica, descubrió la fuente indudable. Lorem Ipsum proviene de las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" (Los extremos del bien y del mal) de Cicerón, escrito en el 45 a. Este libro es un tratado de teoría de la ética, muy popular durante el Renacimiento. La primera línea de Lorem Ipsum, "Lorem ipsum dolor sit amet..", proviene de una línea en la sección 1.10.32.
    </div>
</div>
