<div>
    <h2 id="page-heading">
        <span>Similarities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-similarity" [routerLink]="['/similarity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Similarity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="similarities?.length === 0">
        <span>No similarities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="similarities && similarities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Value</span></th>
                    <th scope="col" ><span>Course A</span></th>
                    <th scope="col" ><span>Course B</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let similarity of similarities ;trackBy: trackId">
                    <td><a [routerLink]="['/similarity', similarity.id, 'view']">{{ similarity.id }}</a></td>
                    <td>{{ similarity.value }}</td>
                    <td>
                        <div *ngIf="similarity.courseAId">
                            <a [routerLink]="['/course', similarity.courseAId , 'view']" >{{ similarity.courseAId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="similarity.courseBId">
                            <a [routerLink]="['/course', similarity.courseBId , 'view']" >{{ similarity.courseBId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/similarity', similarity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/similarity', similarity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(similarity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
