<div class="home-component-container">

    <h3>DON'T JUST WATCH. LEARN!</h3>

    <div class="content"></div>

    <div class="main-container-info">
        <div class="motivation">
            <h2 class="sub-motivation">
                <span>Why choose ThinkIt?</span>
            </h2>
        </div>

        <div class="section">
            <div class="leftSection">
                <!--                <img id="leftImg" src="../../../content/images/devices.jpg">-->
                <h4>Interesting and easy to understand </h4>
                <p> The video lessons and tests are interesting, understandable to all and in accordance with the
                    curriculum </p>
            </div>

            <div class="centerSection">
                <!--                <img id="centerImg" src="../../../content/images/clock.jpg">-->
                <h4>You learn fast</h4>
                <p>A video lesson takes an average of 4-5 minutes</p>
            </div>

            <div class="rightSection">
                <!--                <img id="rightImg" src="../../../content/images/video.jpg">-->
                <h4>Also available for the mobile version</h4>
                <p>You can use ThinkIt anytime, anywhere on your computer, tablet or phone</p>
            </div>
        </div>
    </div>
</div>
