body {
  font-size: 1.25rem;
  line-height: 150%;
  font-family: AkrobatBold, serif !important;
}

h3 {
  text-align: left;
}

.main-container {
  display: flex;
}

.leftDiv {
  background-color: white;
  flex: 7;
  margin-right: 20px;
}

.rightDiv {
  background-color: white;
  flex: 3;
}

.collapse h6 {
  margin-left: 5%;
}

.course-content-title {
  margin-left: 2%;
}

.lesson-item {
  cursor: pointer;
}

.lesson-item:hover {
  font-weight: bold;
}

.leftDiv video {
  object-fit: cover;
}

.leftDiv .card {
  margin-top: 5px;
}

.leftDiv #card-description {
  margin-top: 5px;
}

#main-video-container {
  margin: auto;
}

.rightDiv .chapter {
  color: black;
  font-weight: bold;
}

.chapter #chapterIcon {
  float: right;
}

.lesson-item #lessonIcon {
  float: left;
}

.card-body {
  text-align: center;
}

.card > h2 {
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.card > hr {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.lesson-item {
  margin-left: 15px;
}

.rightDiv .card-body {
  text-align: center;
}

#xpIcon {
  margin-left: 8px;
}

#chapterIcon {
  float: right;
}

#lesson-xp {
  float: right;
}
