.content {
  background-color: white;
}

h3 {
  text-align: left;
  font-weight: bolder;
  color: #3e8acc;
}

.card.jh-card h3 {
  background-color: #ffffff6e;
  /*margin-left: 220px;*/
  /*margin-top: 132px;*/
  /*width: 410px;*/
}

#myVideo {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 5px;
  /*opacity: 1.0;*/
  z-index: -1;
}

.main-container-info {
  background-color: #50948e;
  position: fixed;
  bottom: 0;
}

.section {
  background-color: #50948e;
  display: flex;
  padding-top: 50px;
  padding-left: 50px;
}

.motivation .sub-motivation span {
  font-weight: bold;
  color: white;
  background-color: #50948e;
}

.sub-motivation span {
  text-align: center;
}

.search {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.motivation h2 {
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}

.leftSection {
  flex: 3;
  margin-right: 20px;
}

.centerSection {
  flex: 3;
}

.rightSection {
  flex: 3;
}

.leftSection h4 {
  font-weight: bold;
  color: white;
}

.leftSection p {
  color: white;
  font-size: 20px;
}

.centerSection h4 {
  font-weight: bold;
  color: white;
}

.centerSection p {
  color: white;
  font-size: 20px;
}

.rightSection h4 {
  font-weight: bold;
  color: white;
}

.rightSection p {
  color: white;
  font-size: 20px;
}
