.think {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
}

.it {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
}

.navbar .navbar-light .navbar-expand-md .bg-light {
  position: fixed;
  background: white;
}
